<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    
    <title>Vue Boolzapp</title>

</head>
<body>

    <div id="root">
		<div class="container-est">
			<div class="lista-chat">
				<div class="left">
					<div class="profile">
						<div class="imagine"><img  class="img-logo" src="./img/avatar_1.jpg" alt="logo-profile"> <div>Elia</div></div>
						<div class="icon">
							<i class="fa-solid fa-circle-notch"></i>
							<i class="fa-solid fa-message"></i>
							<i class="fa-solid fa-ellipsis-vertical"></i>
						</div>
					</div>
					<div class="ricevi-not">
						<span class="notifica"><i class="fa-solid fa-bell-slash"></i></span>
						<div class="testo-not">
							<h4>Ricevi notifiche di nuovi messaggi</h4> 
							<div><a href="!#">Attiva notifiche di testo</a></div>
						</div>
					</div>
					<form @submit.prevent="comparaNomi" class="ricerca">
						<button class="search-lens"><i class="fa-solid fa-magnifying-glass"></i></button>
						<input @keyup="comparaNomi" class="search-bar" type="search" name="" id="" placeholder="Cerca o inizia una nuova chat" v-model="newName">
	
					</form>
					<div class="list">
						
						<div class="chat-list" v-for="(contact, i) in contacts"  @click="selectedChat(i)" v-if="contact.visible === true" >
							
							<img :src="contact.avatar" class="img-chat">
							
							<div class="riquadro-premex">
								<div>{{contact.name}}</div> 
								<div class="ultimo-msg">{{ contact.messages[contact.messages.length - 1].message.slice(0,10) + "..." }}</div>
							</div>
							<span class="data">{{ contact.messages[contact.messages.length - 1].date.slice(10,16)}}</span>
							
						</div>
	
					</div>
				</div>
				<div class="messaggio-right">
					<div class="profile-sup" >
						<div class="imagine" v-for="(contact,i) in contacts" v-if="i===selectIndex">
							<img  class="img-logo" :src="contact.avatar" alt="logo-profile"> 
							<div>
								<div>{{contact.name}}</div>
								<div class="ultimo-msg">ultimo accesso</div>
							</div>
							
						</div>
						<div class="icon">
							<i class="fa-solid fa-magnifying-glass"></i>
							<i class="fa-solid fa-message"></i>
							<i class="fa-solid fa-ellipsis-vertical"></i>
						</div>
					</div>
					<div class="text-chat" v-for="(contact,i) in contacts" v-if="i===selectIndex">
						<div v-for="message in contact.messages":class="message.status==='received'? 'ricevuto':'inviato'" >
							<div>{{message.message}}</div>
							<span class="data">{{ message.date.slice(10,16)}}</span>

							

						</div>
						
					</div>
					<div class="write-msg">
						<i class="fa-regular fa-face-smile"></i>
						<form @submit.prevent="addMex">
							<input @keyup.enter="addMex" class="msg-bar" type="text" name="" id="" placeholder="Scrivi un messaggio" v-model="newMex">
						</form>
						<i class="fa-solid fa-microphone"></i>						
					</div>

	
					
				</div>
	
			</div>
		</div>
	

	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" ></script>
	<script src="./js/main.js" ></script>
</body>
</html>